option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug
    RAILS_SERVE_STATIC_FILES: true

container_commands:
  01_asset_precompile:
    command: "NODE_ENV=production bundle exec rails assets:precompile --trace"
  02_webpacker_compile:
    command: "NODE_ENV=production bundle exec rails webpacker:compile --trace"
