// Place all the styles related to the screenshot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.is-padding-1-5em {
  padding: 1.5em;
}

.has-background-transparent {
  background-color: transparent;
}

.is-padding-0-5em {
  padding: 0.5em;
}

.is-width-100percent {
  width: 100%;
}

.is-rounded {
  border-radius: 6px;
}

.is-overflow-hidden {
  overflow: hidden;
}
